.padding-block-md {
  padding-block: 1rem;
}

.padding-inline-md {
  padding-inline: 1rem;
}

.margin-block-md {
  margin-block: 1rem;
}

.margin-inline-md {
  margin-inline: 1rem;
}

.padding-block-lg {
  padding-block: 2rem;
}

.padding-inline-lg {
  padding-inline: 2rem;
}
